.todos-list
  background-color gainsboro
  list-style none

.todo-item
  &--deleted
    display none

.taskText
  font-size 2em
  &--done
    color darkgrey
    text-decoration line-through

.form-container
  background-color #00B7FF
  border 1px solid greenyellow
  &--disabled
    display none

.button
  border 1px solid magenta
  color magenta
  cursor pointer
  &--disabled
    color grey
    background-color darkgrey
    border 1px solid grey
    cursor default
  &--close-btn
    color black
    border 1px solid black